.clause-contributors-tab {
	padding-top: $pageToolbarHeight;

	.info-sidebar {
		height: calc(
			100% - #{$controlMenuToolbarHeight} - #{$pageToolbarHeight}
		);
		width: $infoSidebarWidth;
	}

	.management-bar {
		border: 1px solid $mainLighten74;
		border-bottom: 0;

		.search {
			padding-left: 12px;
			width: 100%;
		}
	}

	.subnav-tbar {
		.component-label {
			margin-right: 8px;
		}
	}

	.table-list {
		border-radius: 0;

		thead:first-child tr:first-child {
			th:first-child {
				border-top-left-radius: 0;
			}

			th:last-child {
				border-top-right-radius: 0;
			}
		}

		.table-divider td {
			text-transform: none;
		}
	}

	.toggle-sidebar {
		margin-left: 8px;
	}

	.toggle-item {
		justify-content: center;

		.toggle-switch {
			margin-bottom: 0;
		}
	}
}

.clause-content-shift {
	margin-left: auto;
	max-width: $clauseMaxWidth;
	transition: margin-right ease 0.2s;
}

.navbar-breakpoint-compact {
	display: none;
}

@media (min-width: calc(#{$clauseMinWidth} + #{$previewSidebarWidth})) {
	.open-preview .clause-content-shift {
		margin-right: calc(
			max(
				50% - (#{$clauseMaxWidth} / 2),
				#{$previewSidebarWidth} - (50vw - 50%) + 24px
			)
		);
	}
}

@media (min-width: calc(#{$clauseMinWidth} + #{$infoSidebarWidth})) {
	//anything more than this, start
	.open-info .clause-content-shift {
		margin-right: calc(
			max(
				50% - (#{$clauseMaxWidth} / 2),
				#{$infoSidebarWidth} - (50vw - 50%) + 24px
			)
		);
	}
}

@media (max-width: calc(#{$breakpointMaxWidth} + #{$previewSidebarWidth})) {
	//anything less than this, start
	.open-preview .clause-content-shift {
		.navbar-breakpoint-full {
			display: none;
		}

		.navbar-breakpoint-compact {
			display: block;
		}
	}
}

@media (max-width: calc(#{$breakpointMaxWidth} + #{$infoSidebarWidth})) {
	.open-info .clause-content-shift {
		.navbar-breakpoint-full {
			display: none;
		}

		.navbar-breakpoint-compact {
			display: block;
		}
	}
}

@media (max-width: $breakpointMaxWidth) {
	.navbar-breakpoint-full {
		display: none;
	}

	.navbar-breakpoint-compact {
		display: block;
	}
}
